    <% if (typeof headerType !== 'undefined') { %>
        </section>
    <% } %>

    <!-- Footer -->
    <footer class="bg-dark text-white mt-5 py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>SportsAmigo</h5>
                    <p>Connect with sports teams and events in your area.</p>
                </div>
                <div class="col-md-4">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="/" class="text-white">Home</a></li>
                        <li><a href="/about" class="text-white">About</a></li>
                        <li><a href="/events" class="text-white">Events</a></li>
                        <li><a href="/contact" class="text-white">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Contact Us</h5>
                    <address>
                        <p>Email: sportsamigo@gmail.com</p>
                        <p>Phone: +91 98765 43210</p>
                    </address>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col text-center">
                    <p>&copy; 2025 SportsAmigo. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript for Toggle Menu -->
    <script>
        var navLinks = document.getElementById("navLinks");
        
        function showMenu() {
            navLinks.style.right = "0";
        }
        
        function hideMenu() {
            navLinks.style.right = "-200px";
        }
    </script>
</body>
</html> 